{
  "extends": "airbnb",
  "plugins": [
    "jest"
  ],
  "parser": "babel-eslint",
  "rules": {
    "max-len": ["error", 80],
    "no-mixed-operators": "off",
    "arrow-parens": ["error", "as-needed"],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off"
  },
  "env": {
    "jest": true
  },
  "globals": {
    "fetch": true
  }
}
