{
  "extends": "airbnb",
  "plugins": [
    "jest"
  ],
  "parser": "babel-eslint",
  "rules": {
    "max-len": ["error", 80],
    "no-mixed-operators": 0,
    "arrow-parens": ["error", "as-needed"]
  },
  "env": {
    "jest": true
  }
}
