.original-colors {
  color: #a0522d;
  color: #006400;
  color: #1e90ff;
  color: #778899;

  color: #ffa500;
  color: #00ff00;
  color: #00ffff;
  color: #000000;

  color: #ffffff;
  color: #ffe4b5;
  color: #000080;
  color: #c71585;

  color: #ff0000;
  color: #ffff00;
  color: #0000ff;
  color: #ff5fff;

  color: #885B3D;
  color: #335B21;
  color: #598CCE;
  color: #7E878B;

  color: #E0AD59;
  color: #8CEA69;
  color: #92F0EA;
  color: #1D1D06;

  color: #FAFAF3;
  color: #cab083;
  color: #050556;
  color: #9D3D71;

  color: #C44432;
  color: #FAFA7C;
  color: #0909AD;
  color: #D77BD8;
}

.tweaked-colors {

  color: #3E5911;
  color: #985825;
  color: #6B88B0;
  color: #90836D;

  color: #9FE64B;
  color: #F2A93B;
  color: #9FEDD7;
  color: #0D0B08;

  color: #FBF9F6;
  color: #FCE4BA;
  color: #060456;
  color: #AC3A5B;

  color: #D34018;
  color: #FFF877;
  color: #0C07AB;
  color: #E978BA;
}